.App {
  text-align: center;
  background-color: #282c34; /* Dark background to make neon colors pop */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-header {
  margin: 20px;
}

.neon-button {
  border: none;
  padding: 10px 20px;
  color: #fff;
  text-transform: uppercase;
  background-color: #111;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 40px #0ff, 0 0 80px #0ff;
}

.neon-button:hover {
  box-shadow: 0 0 20px #0ff, 0 0 30px #0ff, 0 0 40px #0ff, 0 0 90px #0ff;
}

.neon-text {
  color: #0ff;
  text-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 20px #0ff, 0 0 40px #0ff;
}
